{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div id="map"></div>
<button id="clear" class="danger">Reset Selection</button>

<form method="POST">
    {% csrf_token %}
    
    <h3>Journey Details</h3>
    {{ journey_form|crispy }}
    
    <div>
        <input type="checkbox" id="add-meeting-checkbox"> Add Meeting Location
    </div>
    <div id="meeting-form" style="display: none;">
        <h3>Meeting Details (Optional)</h3>
        {{ meeting_form|crispy }}
    </div>
    
    <button type="submit">Create Journey</button>
</form>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/createJourney.js' %}"></script>
{% endblock %}
