{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Journey: {{ journey.title }}</h1>
            <form method="post">
                {% csrf_token %}
                {{ meeting_form|crispy }}
                <button type="submit">Suggest Meeting</button>
            </form>
            <div id="map"></div>
            <button id="clear" class="danger">Clear</button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/singleMarker.js' %}"></script>
{% endblock %}