{% extends 'base.html' %}
{% block content %}
    
    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
            <div class="col-md-6">
                <h1>Welcome, {{ user.username }}!</h1>
                {% if upcoming_journey %}
                    <h2>Upcoming Journey:</h2>
                    <p>{{upcoming_journey}}</p>
                    <a class="btn btn-primary" href="{% url 'journey_detail' upcoming_journey.id %}">View</a>
                {% else %}
                    <p>You have no upcoming journeys.</p>
                {% endif %}
                <a class="btn btn-primary" href="{% url 'journey_create' %}">Create a Journey</a>
            </div>
            <div class="col-md-6">
                <h1>Journeys</h1>
                <ul>
                    {% for journey in journeys %}
                        <li>
                            <a href="{% url 'journey_detail' journey.id %}">{{ journey.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <form method="get">
                    <input type="text" name="search" placeholder="Search">
                    <button type="submit">Search</button>
                </form>
                <a class="btn btn-primary" href="{% url 'home' %}">Reset</a>
            </div>
            {% else %}
            <div class="col-md-12">
                <h1>Welcome!</h1>
                <p>Please <a href="{% url 'account_login' %}">log in</a> to see your journeys.</p>
            </div>
            {% endif %}
        </div>
{% endblock %}