{% extends 'base.html' %}
{% block content %}
    
    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
            <h1>Welcome, {{ user.userprofile.name }}!</h1>
            <hr>
            <div class="col-md-6">
                {% if upcoming_journey %}
                    <h2>Your Next Journey:</h2>
                    <p>{{upcoming_journey}}</p>
                    <a class="btns" href="{% url 'journey_detail' upcoming_journey.id %}">View</a>
                {% else %}
                    <p>You have no upcoming journeys.</p>
                {% endif %}
                <a class="btns" href="{% url 'journey_create' %}">Create a Journey</a>
            </div>
            <div class="col-md-6">
                <h2>Available Journeys</h2>
                <ul>
                    {% for journey in journeys %}
                        <li>
                            <a class="links" href="{% url 'journey_detail' journey.id %}">{{ journey.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <form method="get">
                    <input type="text" class="form-control" name="search" placeholder="Search">
                    <button type="submit">Search</button>
                    <a class="btns" href="{% url 'home' %}">Reset</a>
                </form>
                
            </div>
            {% else %}
            <div class="col-md-12">
                <h1>Welcome to Rigshaw!</h1>
                <p>Rigshaw is a platform for sharing taxi rides. You can create a journey, share it with others, and join other people's journeys.</p>
                <p>Get started by creating an account or logging in.</p>
                <a class="btns" href="{% url 'account_signup' %}">Sign Up</a>
                <a class="btns" href="{% url 'account_login' %}">Log In</a>
            </div>
            {% endif %}
        </div>
{% endblock %}